@media only screen and (min-width: 768px) and (max-width: 1024px) {
  left-header {
    background-size: cover;
    background-position: center; }
    left-header .title-header {
      margin-top: 445px; }

  right-header {
    padding: 0px 90px 45px 90px; }

  h1, h2 {
    font-size: 26px; }

  h3 {
    font-size: 20px; }

  .bottom-left-header {
    margin-top: 48px; }

  .slide {
    display: flex !important;
    justify-content: center;
    align-items: center; } }
@media only screen and (min-width: 545px) and (max-width: 768px) {
  .container {
    padding: 0px 15px; }

  .row {
    margin: 0px; }

  left-header {
    background-size: cover;
    background-position: center; }
    left-header .title-header {
      margin-top: 457px; }
    left-header .before:after {
      width: 124px; }

  right-header {
    padding: 0px 35px 45px 35px; }
    right-header .language {
      padding: 0px; }

  h1, h2 {
    font-size: 22px; }

  h3 {
    font-size: 16px; }

  .bottom-left-header {
    margin-top: 60px; }

  .content-2 .professional {
    padding-right: 0px; }
    .content-2 .professional .grid-container {
      display: grid;
      grid-template-columns: 50% 50%;
      grid-auto-rows: 150px;
      padding: 0;
      grid-column-gap: 0px; }
    .content-2 .professional .item1 {
      grid-row: span 1; }
    .content-2 .professional .item2 {
      grid-column: 2;
      display: none; }
    .content-2 .professional .respon-button {
      display: flex; }
    .content-2 .professional .respon-button {
      display: flex;
      margin: 0px;
      padding-top: 15px; }
      .content-2 .professional .respon-button button {
        width: 108px; }
  .content-2 .personal {
    margin-top: 35px;
    padding: 0px; }
    .content-2 .personal .personal-skill {
      padding: 0px; }

  .content-3 {
    padding: 35px 0px; }
    .content-3 .left-content-3 {
      padding-right: 0px; }
    .content-3 .right-content-3 {
      padding-left: 0px;
      margin-top: 35px; }
    .content-3 .content-3-button {
      width: 100%;
      padding-left: 0px;
      margin-left: 0px;
      justify-content: center; }

  .content-4 .grid-container {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-auto-rows: 172.5px;
    margin-top: 23px;
    padding: 0; }
  .content-4 .item2 {
    grid-row: span 2; }
  .content-4 .item3 {
    grid-column: 2; }
  .content-4 .show-box-1
  img {
    width: 87px;
    height: 83px; }
  .content-4 .show-box-2
  img {
    width: 119px;
    height: 112px; }
  .content-4 .show-box-3
  img {
    width: 119px;
    height: 112px; }

  .footer-top .before:after {
    width: 45px; }
  .footer-top .behind:after {
    width: 30px; }
  .footer-top .row {
    margin-left: -15px;
    margin-right: -15px; }

  .slide {
    padding: 0px; }

  .slide {
    display: flex !important;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px; }

  .prev {
    left: 60px;
    top: 25%; }

  .next {
    right: 64px;
    top: 25%; }

  .slide
  img {
    margin: 0px; }

  .quote-1,
  .quote-2 {
    font-size: 60px; }

  .quote {
    margin-top: 15px; }

  .quote-1-1 {
    margin: 0px 0px 0px 42px; } }
@media only screen and (max-width: 545px) {
  .container {
    padding: 0px 15px; }

  .row {
    margin: 0px; }

  header {
    width: 100%; }

  h1, h2 {
    font-size: 16px; }

  h3 {
    font-size: 14px; }

  left-header, right-header {
    width: 100%; }

  left-header {
    background-size: cover;
    background-position: center; }
    left-header .title-header {
      margin-top: 39px; }
    left-header .language {
      display: flex;
      margin-top: 0px; }
    left-header .bottom-left-header {
      width: 100%;
      height: 35px; }
    left-header .bottom-left-header-1 {
      width: 35px;
      height: 35px; }
    left-header .bottom-left-header-1
    i {
      margin-top: 17px;
      margin-left: 17px;
      font-size: 10px; }
    left-header .before:after {
      width: 95px;
      background: #EF5B5B; }

  right-header {
    padding: 35px 15px; }
    right-header .language {
      display: none; }
    right-header .ava {
      width: 100px;
      height: 100px;
      margin-top: -85px; }
    right-header .ava
    i {
      font-size: 10px; }
    right-header .personal-info {
      width: 100% !important; }
    right-header .right-header-button {
      padding-right: 0px; }

  .content-1-button {
    justify-content: center !important;
    align-items: center !important;
    padding-right: 0px !important; }

  .content-1 {
    padding: 35px 0px; }
    .content-1 .before:after {
      width: 128px; }
    .content-1 .para {
      margin-top: 10px; }
    .content-1 button {
      margin-left: 0px;
      margin-top: 15px; }

  .content-2 {
    padding: 35px 0px; }
    .content-2 .professional {
      padding-right: 0px; }
      .content-2 .professional .p1 {
        margin-top: 10px; }
      .content-2 .professional .before:after {
        width: 128px; }
      .content-2 .professional .behind:after {
        width: 40px; }
      .content-2 .professional .grid-container {
        display: grid;
        grid-template-columns: 50% 50%;
        grid-auto-rows: 150px;
        padding: 0;
        grid-column-gap: 0px; }
      .content-2 .professional .item1 {
        grid-row: span 1; }
      .content-2 .professional .item2 {
        grid-column: 2;
        display: none; }
      .content-2 .professional .respon-button {
        display: flex;
        margin: 0px;
        padding-top: 15px; }
        .content-2 .professional .respon-button button {
          width: 108px; }
    .content-2 .personal {
      margin-top: 35px;
      padding: 0px; }
      .content-2 .personal .p1 {
        margin-top: 10px; }
      .content-2 .personal .before:after {
        width: 98px; }
      .content-2 .personal .behind:after {
        width: 40px; }
      .content-2 .personal .personal-skill {
        padding: 0px; }
      .content-2 .personal .personal-button {
        justify-content: center; }

  .content-3 {
    padding: 35px 0px; }
    .content-3 .left-content-3 {
      padding-right: 0px; }
      .content-3 .left-content-3 .p1 {
        margin-top: 10px; }
    .content-3 .right-content-3 {
      padding-left: 0px;
      margin-top: 35px; }
      .content-3 .right-content-3 .p1 {
        margin-top: 10px; }
    .content-3 .content-3-button {
      width: 100%;
      padding-left: 0px;
      margin-left: 0px;
      justify-content: center; }

  .content-4 .grid-container {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-auto-rows: 172.5px;
    margin-top: 23px;
    padding: 0; }
  .content-4 .item2 {
    grid-row: span 2; }
  .content-4 .item3 {
    grid-column: 2; }
  .content-4 .show-box-1
  img {
    width: 87px;
    height: 83px; }
  .content-4 .show-box-2
  img {
    width: 119px;
    height: 112px; }
  .content-4 .show-box-3
  img {
    width: 119px;
    height: 112px; }

  .footer-top {
    padding: 35px 15px; }
    .footer-top .before:after {
      width: 45px; }
    .footer-top .behind:after {
      width: 30px; }
    .footer-top .row {
      margin-left: -15px;
      margin-right: -15px; }

  .slide {
    padding: 0; }

  .slide {
    display: flex !important;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0; }
    .slide .ava-footer {
      margin-left: 0; }

  .prev {
    left: 34px;
    top: 35%; }

  .next {
    right: 34px;
    top: 35%; }

  .slide
  img {
    margin: 0px; }

  .quote-1,
  .quote-2 {
    font-size: 60px; }

  .quote {
    margin-top: 15px; }

  .quote-1-1 {
    margin: 0px 0px 0px 42px; } }

/*# sourceMappingURL=responsive.css.map */
