@font-face {
  font-family: Poppins-h1;
  font-display: auto;
  src: url("font/Poppins-Bold.otf"); }
@font-face {
  font-family: 'Port Lligat Sans';
  font-display: auto;
  src: url("font/PortLligatSans-Regular.ttf"); }
@font-face {
  font-family: Poppins;
  font-display: auto;
  src: url("font/Poppins-ExtraLight.otf"); }
@font-face {
  font-family: Poppins-language;
  font-display: auto;
  src: url("font/Poppins-Thin.otf"); }
@font-face {
  font-family: Poppins-Regular;
  font-display: auto;
  src: url("font/Poppins-Regular.otf"); }
@font-face {
  font-family: Poppins-Medium;
  font-display: auto;
  src: url("font/Poppins-Medium.otf"); }
a {
  color: #FFFFFF;
  text-decoration: none; }

body {
  color: #FFFFFF;
  margin: auto;
  width: 100%;
  max-width: 1440px;
  font: normal normal 14px/normal Poppins;
  text-transform: none;
  text-align: justify;
  color: #FFFFFF; }

.container-fluid {
  padding: 0;
  width: 100%; }

h1 {
  font: normal bold 40px/normal Poppins-h1;
  text-transform: uppercase;
  text-align: justify;
  color: #FFFFFF;
  letter-spacing: 0.05em; }

h2 {
  font: normal bold 25px/normal Poppins-h1;
  text-transform: uppercase;
  text-align: justify;
  color: #FFFFFF;
  letter-spacing: 0.05em; }

h3 {
  font: normal normal 20px/normal Poppins;
  text-transform: none;
  text-align: justify;
  color: #FFFFFF; }

.container {
  padding: 0; }

.col-12 {
  padding: 0; }

.before {
  position: relative; }

.before:after {
  position: absolute;
  bottom: -5px;
  left: 0;
  height: 2px;
  content: ''; }

.behind {
  position: relative; }

.behind:after {
  position: absolute;
  top: -5px;
  right: 0;
  height: 2px;
  content: ''; }

.flex {
  display: flex; }

.language .p1 {
  margin-left: 0; }

.language .p2 {
  margin-left: 40px; }

.language a {
  text-decoration: none;
  color: #FFFFFF; }

.language a:hover {
  font-weight: bold;
  text-decoration: underline; }

.language a:active {
  text-decoration: underline; }

button {
  color: #FFFFFF; }
  button i {
    margin-left: 6px; }

header {
  box-sizing: border-box; }

button:hover {
  cursor: pointer;
  opacity: 0.8; }

left-header {
  width: 50%;
  box-sizing: border-box;
  background-size: cover;
  background-position: center; }
  left-header input {
    background: none;
    color: #FFFFFF;
    font-size: 20px;
    border: none; }
  left-header input:hover {
    outline: 1px #FFFFFF dashed; }
  left-header .language {
    display: none; }
  left-header .name-first {
    border-bottom: 2px #EF5B5B solid; }
  left-header .title-header {
    margin-top: 424px; }
  left-header .bottom-left-header {
    height: 60px;
    width: 100%;
    box-sizing: border-box;
    flex-direction: row-reverse;
    padding: 0;
    margin-top: 26px; }
  left-header a {
    display: none; }
  left-header .bottom-left-header
  i {
    margin-top: 30px;
    margin-left: 30px; }
  left-header .bottom-left-header-1 {
    width: 60px;
    height: 60px;
    background: #3a3939;
    opacity: 0.8;
    border-top-left-radius: 100%;
    box-sizing: border-box; }

right-header {
  width: 50%;
  background-color: #242581;
  box-sizing: border-box;
  padding: 0px 114px 45px 114px; }
  right-header input {
    background-color: #242581;
    color: #FFFFFF;
    border: none;
    resize: horizontal; }
  right-header .input-top {
    width: 100px;
    text-transform: uppercase; }
  right-header .birth-day {
    margin-left: 65px; }
  right-header input:hover {
    outline: 1px #FFFFFF dashed; }
  right-header .language {
    margin-top: 20px; }
  right-header td input {
    width: 100%; }
  right-header .ava {
    width: 150px;
    height: 150px;
    border-radius: 100%;
    border: 4px solid #FFFFFF;
    margin-top: 16px;
    box-sizing: border-box;
    background-size: cover;
    background-position: center; }
    right-header .ava .bottom-ava {
      width: 150px;
      height: 20%;
      background: #393937;
      opacity: 0.5;
      display: none;
      border: none; }
      right-header .ava .bottom-ava i {
        left: 47%;
        top: 30%;
        color: #FFFFFF; }
  right-header .ava-hover:hover .bottom-ava {
    display: flex;
    opacity: 0.8;
    color: #FFFFFF;
    cursor: pointer; }
  right-header .name {
    padding-bottom: 10px;
    margin-top: 17px; }
  right-header .name .p1 {
    font: normal normal 14px/normal Poppins-Medium;
    text-transform: uppercase;
    text-align: justify;
    color: #FFFFFF;
    letter-spacing: 0.05cm;
    text-align: center; }
  right-header .name .p2 {
    width: auto;
    text-align: center; }
  right-header .right-header-table {
    width: 100%;
    box-sizing: border-box; }
    right-header .right-header-table .personal-info {
      width: 96%;
      border-top: 2px #EF5B5B solid;
      padding-top: 11px;
      box-sizing: border-box; }
    right-header .right-header-table .tdleft {
      font-weight: 800;
      padding-top: 15px;
      width: 100px;
      font-family: Poppins-Medium; }
    right-header .right-header-table .tdright {
      padding-top: 15px; }
  right-header button {
    margin-top: 25px;
    min-height: 36px;
    min-width: 134px;
    background-color: #242581;
    box-sizing: border-box;
    border: 1px #EF5B5B solid; }

.content {
  width: 100%;
  box-sizing: border-box; }

.content-1 {
  width: 100%;
  background-color: #2026B2;
  padding: 45px 0;
  box-sizing: border-box; }
  .content-1 .before:after {
    width: 197px;
    background: #EF5B5B; }
  .content-1 .behind:after {
    width: 41px;
    background: #EF5B5B; }
  .content-1 .para {
    margin-top: 30px;
    padding-bottom: 10px; }
  .content-1 .content-1-button {
    padding-right: 33px; }
  .content-1 button {
    min-height: 36px;
    min-width: 151px;
    background-color: #2026B2;
    box-sizing: border-box;
    border: 1px #EF5B5B solid; }

.content-2 {
  width: 100%;
  background-color: #4A0F73;
  padding: 45px 0;
  box-sizing: border-box; }
  .content-2 .professional {
    box-sizing: border-box;
    padding-right: 15px; }
    .content-2 .professional .before:after {
      width: 197px;
      background: #EF5B5B; }
    .content-2 .professional .behind:after {
      width: 41px;
      background: #EF5B5B; }
    .content-2 .professional .respon-button {
      display: none; }
    .content-2 .professional .p1 {
      margin-top: 20px; }
    .content-2 .professional .grid-container {
      display: grid;
      grid-template-columns: 33% 33% 33%;
      grid-auto-rows: 150px;
      grid-row-gap: 10px;
      padding: 0; }
    .content-2 .professional .item1 {
      grid-row: span 1; }
      .content-2 .professional .item1 button {
        background-color: #0f001b;
        opacity: 0.5; }
      .content-2 .professional .item1 .button-right {
        border: none;
        top: 0;
        right: 0;
        display: none; }
    .content-2 .professional .item1:hover .button-right {
      display: block;
      cursor: pointer; }
    .content-2 .professional .item2 {
      grid-column: 3; }
  .content-2 .personal {
    box-sizing: border-box;
    padding-left: 15px; }
    .content-2 .personal .before:after {
      width: 139px;
      background: #EF5B5B; }
    .content-2 .personal .behind:after {
      width: 41px;
      background: #EF5B5B; }
    .content-2 .personal .p1 {
      margin-top: 20px; }

.skill-button {
  margin: 61px -4px; }
  .skill-button button {
    width: 100%;
    background-color: #4A0F73;
    box-sizing: border-box;
    border: 1px #EF5B5B solid;
    min-height: 36px;
    min-width: 108px; }

.circle-skill {
  max-width: 171px;
  padding: 0 33px;
  box-sizing: border-box;
  justify-content: flex-start; }
  .circle-skill .skill-1-p {
    margin-top: 10px;
    text-transform: uppercase;
    min-width: 92px;
    text-align: center; }

.proskill {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.graphic {
  width: 100%;
  margin-top: 25px;
  box-sizing: border-box; }
  .graphic .percent-pro {
    top: 40%;
    left: 40%; }

svg .donut-hole {
  fill: #4A0F73; }
svg .donut-ring {
  fill: transparent;
  stroke: #FFFFFF;
  stroke-width: 5px; }
svg .donut-segment-1 {
  fill: transparent;
  stroke: #EF5B5B;
  stroke-width: 5px; }
svg text {
  fill: #ffffff;
  font-size: 14px;
  font-family: Poppins; }

.personal-skill {
  width: 100%;
  padding: 0 30px;
  box-sizing: border-box; }
  .personal-skill h4 {
    text-transform: uppercase;
    margin-top: 25px; }
  .personal-skill .all {
    display: flex;
    background: #FFFFFF;
    height: 7px;
    border-radius: 3px;
    margin-top: 10px; }
  .personal-skill .percent {
    background: #EF5B5B;
    border-radius: 3px;
    border: 3px #EF5B5B solid; }
  .personal-skill .percent-1 {
    position: relative; }
  .personal-skill .percent-text-1 {
    top: -33px;
    right: -15px; }
  .personal-skill .btn-delete {
    background-color: #0f001b;
    opacity: 0.5;
    border: none;
    top: 0;
    right: 0;
    width: 30px;
    display: none; }
  .personal-skill .personal-button {
    width: 100%; }
  .personal-skill .person-button {
    min-height: 36px;
    min-width: 108px;
    margin-top: 28px;
    background-color: #4A0F73;
    box-sizing: border-box;
    border: 1px #EF5B5B solid; }

.person-skill:hover
.btn-delete {
  display: block;
  cursor: pointer; }

.content-3 {
  width: 100%;
  background-color: #F64C71;
  padding: 45px 0;
  box-sizing: border-box; }

.left-content-3 {
  padding-right: 14px;
  box-sizing: border-box; }
  .left-content-3 .before:after {
    width: 82px;
    background: #FFFFFF; }
  .left-content-3 .behind:after {
    width: 41px;
    background: #FFFFFF; }
  .left-content-3 .p1 {
    margin-top: 20px; }
  .left-content-3 .main {
    padding-left: 23px; }
  .left-content-3 .content-3-btn {
    min-height: 36px;
    min-width: 198px;
    background-color: #F64C71;
    box-sizing: border-box;
    border: 1px #FFFFFF solid; }

.main {
  width: 100%;
  box-sizing: border-box; }

.main-1 {
  border-top: 1px #FFFFFF solid;
  padding-bottom: 0;
  float: left;
  height: 2px;
  width: 15px;
  margin-top: 25px; }

.main-2 {
  margin-left: -8px;
  width: 96.5%;
  border-left: 1px #FFFFFF solid;
  margin-top: 25px;
  float: left;
  box-sizing: border-box; }

.main-3 {
  width: 96.5%;
  margin-bottom: 25px;
  justify-content: center;
  align-items: center; }
  .main-3 .button-delete-work {
    right: 0;
    top: 0;
    width: 30px;
    background-color: #c3c3c3;
    border: none;
    display: none; }
  .main-3 .img-1 {
    height: 12px;
    width: 8px; }
  .main-3 .main-3-center {
    width: 50px;
    height: 2px;
    border-bottom: 1px #FFFFFF dashed; }

.main-work:hover
.button-delete-work {
  display: block; }

.main-education .button-delete-edu {
  right: 0;
  top: 0;
  width: 30px;
  background-color: #c3c3c3;
  border: none;
  display: none; }

.main-education:hover
.button-delete-edu {
  display: block; }

.main-3-box {
  width: 450px;
  border: 0.5px #FFFFFF solid;
  padding: 10px 18px 11px 8px; }
  .main-3-box .year {
    width: auto;
    border-bottom: 1px #FFFFFF solid; }
  .main-3-box h3 {
    text-transform: uppercase;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 14px; }
  .main-3-box h4 {
    text-align: justify;
    color: #FFFFFF;
    margin-top: 4px; }

.main-3-box-2 {
  margin-top: 20px; }

.content-3-button {
  width: 93.1225%;
  box-sizing: border-box;
  padding-left: 30px;
  margin-left: 10px;
  justify-content: flex-end; }

.right-content-3 {
  padding-left: 16px;
  box-sizing: border-box; }
  .right-content-3 .before:after {
    width: 75px;
    background: #FFFFFF; }
  .right-content-3 .behind:after {
    width: 41px;
    background: #FFFFFF; }
  .right-content-3 .p1 {
    margin-top: 20px; }
  .right-content-3 .main {
    padding-left: 21px; }
  .right-content-3 .content-3-btn-right {
    min-height: 36px;
    min-width: 151px;
    background-color: #F64C71;
    box-sizing: border-box;
    border: 1px #FFFFFF solid; }

.content-4 {
  width: 100%;
  background: #563D67;
  box-sizing: border-box;
  padding: 45px 0px; }
  .content-4 .before:after {
    width: 72px;
    height: 2px;
    background: #EF5B5B; }
  .content-4 .show-box:hover {
    cursor: pointer; }
  .content-4 .behind:after {
    width: 41px;
    height: 2px;
    background: #EF5B5B; }
  .content-4 h2 {
    padding: 0; }
  .content-4 .grid-container {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-auto-rows: 200px;
    margin-top: 23px;
    padding: 0; }
  .content-4 .item1 .button-delete-project, .content-4 .item2 .button-delete-project {
    top: 0;
    right: 0;
    border: none;
    display: none; }
  .content-4 .item1:hover
  .button-delete-project {
    display: block;
    cursor: pointer; }
  .content-4 .item2:hover
  .button-delete-project {
    display: block;
    cursor: pointer; }
  .content-4 .item1 .button-edit-project, .content-4 .item2 .button-edit-project {
    top: 0;
    left: 0;
    border: none;
    display: none;
    width: 25px;
    height: 25px; }
  .content-4 .item1:hover
  .button-edit-project {
    display: block;
    cursor: pointer; }
  .content-4 .item2:hover
  .button-edit-project {
    display: block;
    cursor: pointer; }
  .content-4 .item2 {
    grid-row: span 2; }
  .content-4 .item3 {
    grid-column: 4; }
    .content-4 .item3 button {
      min-height: 36px;
      min-width: 139px;
      background-color: #563D67;
      box-sizing: border-box;
      border: 1px #EF5B5B solid; }

.menu {
  width: auto;
  margin-top: 21px; }
  .menu li {
    width: auto;
    letter-spacing: 0.05em;
    color: #FFFFFF;
    float: left; }
    .menu li button {
      background: #563D67;
      border: none;
      text-transform: uppercase;
      font: normal bold 14px/normal Poppins-Medium;
      margin-left: 28px; }
    .menu li button:focus {
      text-decoration-line: underline; }
  .menu button:hover {
    text-decoration-line: underline; }

.show-box-1 img {
  width: 159px;
  height: 150px; }

.box-1-1 {
  background: #FD7038; }

.box-1-2 {
  background: #333333; }

.box-1-3 {
  background: #F64C71; }

.box-1-4 {
  background: #2F2FA1; }

.box-1-5 {
  background: #F9BC2D; }

.box-2-1 {
  background: #EECD10; }

.box-2-2 {
  background: #EF5B5B; }

.show-box-2
img {
  width: 220px;
  height: 207px; }

.show-box-3
img {
  width: 220px;
  height: 208px; }

.modal-content {
  color: black; }
  .modal-content h1 {
    color: black;
    font-size: 25px;
    text-align: center; }

/*Begin footer css*/
.footer-top {
  padding: 45px;
  box-sizing: border-box;
  background: #2F2FA1; }
  .footer-top .before:after {
    width: 72px;
    background: #EF5B5B; }
  .footer-top .behind:after {
    width: 41px;
    background: #EF5B5B; }

.slide-bottom {
  width: 100%;
  position: relative; }

.prev {
  position: absolute;
  left: 80px;
  top: 50%;
  opacity: 0.5; }

.next:hover {
  opacity: 1;
  cursor: pointer; }

.prev:hover {
  opacity: 1;
  cursor: pointer; }

.next {
  position: absolute;
  right: 84px;
  top: 50%;
  opacity: 0.5; }

.slide {
  margin: auto;
  margin-top: 25px;
  box-sizing: border-box;
  padding: 0px 122px; }
  .slide .ava-footer {
    width: 150px;
    height: 150px;
    margin-left: 35px;
    border-radius: 100%;
    border: 4px #FFFFFF solid;
    float: left;
    box-sizing: border-box;
    background-size: cover;
    background-position: center;
    overflow: hidden; }
    .slide .ava-footer .bottom-ava-footer {
      width: 100%;
      background-color: #333333;
      height: 25%;
      opacity: 0.5;
      display: none; }
      .slide .ava-footer .bottom-ava-footer i {
        top: 30%;
        left: 45%; }
  .slide .ava-footer:hover
  .bottom-ava-footer {
    display: flex;
    opacity: 0.8;
    cursor: pointer; }
  .slide span {
    font: normal normal 80px/normal 'Port Lligat Sans';
    color: #FFFFFF; }
  .slide .p3 {
    width: 7px;
    margin-left: 33px;
    margin-top: 75px; }
  .slide .button-delete-slide {
    top: 0;
    right: 0;
    background-color: #333333;
    border: none;
    display: none; }

.slide:hover
.button-delete-slide {
  display: block; }

.quote-1-1 {
  height: auto;
  margin-left: 70px;
  margin-top: 34px;
  width: 100%;
  position: relative;
  padding-bottom: 0px;
  float: left; }
  .quote-1-1 .quote-1 {
    position: absolute;
    display: block;
    margin-left: -36px;
    margin-top: -20px; }
  .quote-1-1 .quote-2 {
    position: absolute;
    display: inline-block;
    margin-top: -15px; }
  .quote-1-1 .p2 {
    font: normal normal 14px/normal Poppins;
    width: 100%;
    text-align: justify;
    padding-bottom: 10px; }

.panigation {
  width: 100%;
  margin-top: 30px; }
  .panigation button {
    min-height: 36px;
    min-width: 169px;
    background-color: #2F2FA1;
    box-sizing: border-box;
    border: 1px #EF5B5B solid; }

.first {
  background-color: #979797; }

.footer-bottom {
  width: 100%;
  background: #0C0C5E;
  padding: 14px 0px;
  box-sizing: border-box; }

/*End CSS footer*/

/*# sourceMappingURL=style.css.map */
